# Data Structures, Functions, and Files

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [ ]:
If you want to set this behaviour for all instances of Jupyter (Notebook and Console), 
simply create a file ~/.ipython/profile_default/ipython_config.py with the lines below.
(C:\Users\wang_degang\.ipython\profile_default\ipython_config.py)
c = get_config()

# Run all nodes interactively
c.InteractiveShell.ast_node_interactivity = "all"

## Tuple

In [2]:
a = 3, 4, 5
a
type(a)

(3, 4, 5)

tuple

In [3]:
b = (1, 2, 3), (4, 6, 7)
b

((1, 2, 3), (4, 6, 7))

In [5]:
tuple([10, 11, 12])
tuple('string')

(10, 11, 12)

('s', 't', 'r', 'i', 'n', 'g')

In [7]:
b[0]
b[1] = (999)          # tuple is immutable

(1, 2, 3)

TypeError: 'tuple' object does not support item assignment

In [8]:
a + b
a * 4

(3, 4, 5, (1, 2, 3), (4, 6, 7))

(3, 4, 5, 3, 4, 5, 3, 4, 5, 3, 4, 5)

### unpack tuples

In [14]:
# unpack tuple

tup = (1, 2, (3, 4))
a, b, (c, d) = tup
a; b; c; d
a, b, c, d

# swap variables
a, b = b, a
a; b

# iterate
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for i, j, k in seq:
    print("i = {0}, j = {1}, k = {2}".format(i, j, k))

1

2

3

4

(1, 2, 3, 4)

2

1

i = 1, j = 2, k = 3
i = 4, j = 5, k = 6
i = 7, j = 8, k = 9

In [16]:
tup = 1, 2, 3, 4, 5
a, b, *rest = tup
a, b
rest
type(a)
type(rest)
a, b, c, *_ = tup      # use underscore for unwanted variables

(1, 2)

[3, 4, 5]

int

list

### tuple method

In [24]:
a = (1, 2, 3, 3, 3, 3, 3, 4, 3)
a.count(3)

6

$$ P(A \mid B) = \frac{P(B \mid A) \, P(A)}{P(B)} $$

## List

In [39]:
a = [1, 'foo', None, True, (3, 4)]
a
a[2] = 'None'
a

gen = range(10)
gen
list(gen)

[1, 'foo', None, True, (3, 4)]

[1, 'foo', 'None', True, (3, 4)]

range(0, 10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### add and remove elements

In [40]:
a.append('new')
a
a.insert(2, 'inserted at 2')
a

[1, 'foo', 'None', True, (3, 4), 'new']

[1, 'foo', 'inserted at 2', 'None', True, (3, 4), 'new']

In [41]:
a.pop(3)
a
a = [0, 1, 2, 3, 3, 2, 1]
a.remove(2)
a

'None'

[1, 'foo', 'inserted at 2', True, (3, 4), 'new']

[0, 1, 3, 3, 2, 1]

In [42]:
1 in a     # check if a value exists in a list is slower than that in a dict or set

True

In [1]:
a = [1, 2, 3]
b = [4, 5, 6]
a + b                           # addtion creates a new list
a.extend(b)                     # extend is much faster
a

[1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [ ]:
my_list = []
list_to_be_add
for element in list_to_be_add:
    my_list.extend(element)
    
is faster than

for element in list_to_be_add:
    my_list = my_list + element

### sort

In [4]:
a = [2, 3, 1, 3, 0]
a.sort()
a
a.sort(reverse = True)
a

[0, 1, 2, 3, 3]

[3, 3, 2, 1, 0]

In [8]:
a = ['kity', 'country', 'boy', 'girl', 'school']
a.sort(key = len)
a

['boy', 'kity', 'girl', 'school', 'country']

In [16]:
import bisect
c = [1, 2, 3, 7, 9]           # a sorted list
bisect.bisect(c, 8)           # find the index position of 8 in the above sorted list
bisect.insort(c, 5)           # inset "5" to where it should be in a sorted list
c

4

[1, 2, 3, 5, 7, 9]

### slicing

In [33]:
seq = [7, 3, 4, 8, 1, 2]
seq[:len(seq)]
seq[0:2]        # the first position is 0
seq[1:4]        # start position is included but stop position is NOT included. (stop-start)= number of elements
seq[3:]
seq[-2:]
seq[3:-2]
seq[::2]        # every 2 
seq[::3]        # every 3
seq[::-1]       # reverse
seq[2:4] = ["0", "4", "8", "9"]
seq

[7, 3, 4, 8, 1, 2]

[7, 3]

[3, 4, 8]

[8, 1, 2]

[1, 2]

[8]

[7, 4, 1]

[7, 8]

[2, 1, 8, 4, 3, 7]

[7, 3, '0', '4', '8', '9', 1, 2]

## Build-in Sequence Functions

### enumerate

In [ ]:
i = 0
for value in value_list:
    # do something with value
    i += 1
    
Enumerate function
for i, value in enumerate(value_list):
    # do something with value

In [1]:
value_list = ["Bob", "Tom", "Rick", "Dave"]
mapping = dict((i, v) for i, v in enumerate(value_list))
mapping

{0: 'Bob', 1: 'Tom', 2: 'Rick', 3: 'Dave'}

### sorted

In [4]:
sorted([9, 4, 2, 5, 3])
sorted('high school')
sorted(set('high school'))

[2, 3, 4, 5, 9]

[' ', 'c', 'g', 'h', 'h', 'h', 'i', 'l', 'o', 'o', 's']

[' ', 'c', 'g', 'h', 'i', 'l', 'o', 's']

### zip

In [13]:
seq1 = [1, 2, 3, 4]
seq2 = ["one", "two", "three", "four"]
seq3 = [False, True]
zip_1 = zip(seq1, seq2)
zip_2 = zip(seq1, seq2, seq3)
print(zip_1)
zip_2
list(zip_1)              # create a list of tuples
list(zip_2)
type(zip_2)

<zip object at 0x00000000051705C8>

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]

[(1, 'one', False), (2, 'two', True)]

zip

In [10]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print("{0}: {1}, {2}".format(i, a, b))

0: 1, one
1: 2, two
2: 3, three
3: 4, four

In [26]:
seq1 = [1, 2, 3, 4]
seq2 = ["one", "two", "three", "four"]
zip_1 = zip(seq1, seq2)
zip_1
a = list(zip_1)
x, y = zip(*a)
x
y
# x, y = zip(*list(zip_1))    not work

(1, 2, 3, 4)

('one', 'two', 'three', 'four')

### reversed

In [29]:
reversed([1, 2, 3])
list(reversed([1, 2, 3]))

[3, 2, 1]

## Dict

In [44]:
a = {}
b = {1: "one", 2: "two"}
a
b
b[2]
b[4] = "four"
b
1 in b
"one" in b      # only for key, not value
del b[1]
b
c = b.pop(4)    # remove key, then then value too. **use (), not []**
c
b

{}

{1: 'one', 2: 'two'}

'two'

{1: 'one', 2: 'two', 4: 'four'}

True

False

{2: 'two', 4: 'four'}

'four'

{2: 'two'}

In [52]:
c = {'a': "red", 'b': "blue"}
c.keys()
c.values()
list(c.keys())

dict_keys(['a', 'b'])

dict_values(['red', 'blue'])

['a', 'b']

In [53]:
b.update(c)                  # merge 2o dictionaries
b

{2: 'two', 'a': 'red', 'b': 'blue'}

### create dicts from sequences

In [57]:
seq1 = [1, 2, 3]
seq2 = ["red", "blue", "pink"]
my_dict = {}
for key, value in zip(seq1, seq2):
    my_dict[key] = value
    
my_dict

{1: 'red', 2: 'blue', 3: 'pink'}

In [61]:
my_dict = dict(zip([1, 2, 3], [4, 5, 6]))
my_dict

{1: 4, 2: 5, 3: 6}

In [63]:
list(zip([1, 2, 3], [4, 5, 6]))

[(1, 4), (2, 5), (3, 6)]

In [66]:
my_dict = dict([(1,"red"), (2,"blue")])   # tuples in a list
my_dict

{1: 'red', 2: 'blue'}

In [80]:
a = ['abacus', 'apple', 'bay', 'bus', 'box', 'car', 'fox']
b = {}
for i in a:
    letter = i[0]
    if letter not in b:
        b[letter] = [i]
    else:
        b[letter].append(i)
        
b

{'a': ['abacus', 'apple'],
 'b': ['bay', 'bus', 'box'],
 'c': ['car'],
 'f': ['fox']}

In [81]:
a = ['abacus', 'apple', 'bay', 'bus', 'box', 'car', 'fox']
b = {}
for i in a:
    letter = i[0]
    b.setdefault(letter, []).append(i)
        
b

{'a': ['abacus', 'apple'],
 'b': ['bay', 'bus', 'box'],
 'c': ['car'],
 'f': ['fox']}

In [82]:
# use list as key
d = {}
d[tuple([1, 2, 3])] = 'red'
d

{(1, 2, 3): 'red'}

## Set

In [83]:
set([1, 3, 3, 4, 2, 0])

{0, 1, 2, 3, 4}

In [84]:
{5, 3, 2, 3, 2, 3, 4}

{2, 3, 4, 5}

In [98]:
a = {1, 2, 3, 4, 5}
b = {2, 4, 6, 8}
a | b
a & b
a - b        # a but not b
a ^ b        # a but not b or b but not a , also called symmetric difference

c = a.copy()
c |= b       # c is replaced by new set after operation
c
c &= b
c

{1, 2, 3, 4, 5, 6, 8}

{2, 4}

{1, 3, 5}

{1, 3, 5, 6, 8}

{1, 2, 3, 4, 5, 6, 8}

{2, 4, 6, 8}

In [92]:
{1, 2, 3}.issubset(a)
a.issuperset({1, 2, 4})
{1, 2, 3} == {3, 2, 1}

True

True

True

## List, Set, and Dict Comprehensions

In [102]:
x = range(10)
a = list(i** 2 for i in x if i % 2 == 0)
a

[0, 4, 16, 36, 64]

In [104]:
strings = ["red", "blue", "yellow", "pink"]
length = {len(x) for x in strings}
length

{3, 4, 6}

In [105]:
key_list = ["Bob", "Tom", "Rick", "Dave"]
mapping = {key : value for value, key in enumerate(key_list)}
mapping

{'Bob': 0, 'Dave': 3, 'Rick': 2, 'Tom': 1}

In [109]:
name_list = [["Bob", "Tom"], ["Dave", "Kim"]]
m_name = [name for names in name_list for name in names if name.count("m") >= 1]
m_name

['Tom', 'Kim']

In [111]:
name_list = ["Bob", "Tom", "Dave", "Kim"]
m_name = [name for name in name_list if name.count("m") >= 1]
m_name

['Tom', 'Kim']

In [112]:
tup_list = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flatten = [x for tup in tup_list for x in tup if x % 2 == 0]
flatten

[2, 4, 6, 8]

In [113]:
flatten = []
for tup in tup_list:
    for x in tup:
        if x % 2 == 0:
            flatten.append(x)
            
flatten

[2, 4, 6, 8]

# Functions