# Data Structures, Functions, and Files

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [ ]:
If you want to set this behaviour for all instances of Jupyter (Notebook and Console), 
simply create a file ~/.ipython/profile_default/ipython_config.py with the lines below.
(C:\Users\wang_degang\.ipython\profile_default\ipython_config.py)
c = get_config()

# Run all nodes interactively
c.InteractiveShell.ast_node_interactivity = "all"

## Tuple

In [2]:
a = 3, 4, 5
a
type(a)

(3, 4, 5)

tuple

In [3]:
b = (1, 2, 3), (4, 6, 7)
b

((1, 2, 3), (4, 6, 7))

In [5]:
tuple([10, 11, 12])
tuple('string')

(10, 11, 12)

('s', 't', 'r', 'i', 'n', 'g')

In [7]:
b[0]
b[1] = (999)          # tuple is immutable

(1, 2, 3)

TypeError: 'tuple' object does not support item assignment

In [8]:
a + b
a * 4

(3, 4, 5, (1, 2, 3), (4, 6, 7))

(3, 4, 5, 3, 4, 5, 3, 4, 5, 3, 4, 5)

### unpack tuples

In [14]:
# unpack tuple

tup = (1, 2, (3, 4))
a, b, (c, d) = tup
a; b; c; d
a, b, c, d

# swap variables
a, b = b, a
a; b

# iterate
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for i, j, k in seq:
    print("i = {0}, j = {1}, k = {2}".format(i, j, k))

1

2

3

4

(1, 2, 3, 4)

2

1

i = 1, j = 2, k = 3
i = 4, j = 5, k = 6
i = 7, j = 8, k = 9

In [16]:
tup = 1, 2, 3, 4, 5
a, b, *rest = tup
a, b
rest
type(a)
type(rest)
a, b, c, *_ = tup      # use underscore for unwanted variables

(1, 2)

[3, 4, 5]

int

list

### tuple method

In [24]:
a = (1, 2, 3, 3, 3, 3, 3, 4, 3)
a.count(3)

6

$$ P(A \mid B) = \frac{P(B \mid A) \, P(A)}{P(B)} $$

## List

In [39]:
a = [1, 'foo', None, True, (3, 4)]
a
a[2] = 'None'
a

gen = range(10)
gen
list(gen)

[1, 'foo', None, True, (3, 4)]

[1, 'foo', 'None', True, (3, 4)]

range(0, 10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### add and remove elements

In [40]:
a.append('new')
a
a.insert(2, 'inserted at 2')
a

[1, 'foo', 'None', True, (3, 4), 'new']

[1, 'foo', 'inserted at 2', 'None', True, (3, 4), 'new']

In [41]:
a.pop(3)
a
a = [0, 1, 2, 3, 3, 2, 1]
a.remove(2)
a

'None'

[1, 'foo', 'inserted at 2', True, (3, 4), 'new']

[0, 1, 3, 3, 2, 1]

In [42]:
1 in a     # check if a value exists in a list is slower than that in a dict or set

True

In [1]:
a = [1, 2, 3]
b = [4, 5, 6]
a + b                           # addtion creates a new list
a.extend(b)                     # extend is much faster
a

[1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [ ]:
my_list = []
list_to_be_add
for element in list_to_be_add:
    my_list.extend(element)
    
is faster than

for element in list_to_be_add:
    my_list = my_list + element

### sort

In [4]:
a = [2, 3, 1, 3, 0]
a.sort()
a
a.sort(reverse = True)
a

[0, 1, 2, 3, 3]

[3, 3, 2, 1, 0]

In [8]:
a = ['kity', 'country', 'boy', 'girl', 'school']
a.sort(key = len)
a

['boy', 'kity', 'girl', 'school', 'country']

In [16]:
import bisect
c = [1, 2, 3, 7, 9]           # a sorted list
bisect.bisect(c, 8)           # find the index position of 8 in the above sorted list
bisect.insort(c, 5)           # inset "5" to where it should be in a sorted list
c

4

[1, 2, 3, 5, 7, 9]

### slicing

In [33]:
seq = [7, 3, 4, 8, 1, 2]
seq[:len(seq)]
seq[0:2]        # the first position is 0
seq[1:4]        # start position is included but stop position is NOT included. (stop-start)= number of elements
seq[3:]
seq[-2:]
seq[3:-2]
seq[::2]        # every 2 
seq[::3]        # every 3
seq[::-1]       # reverse
seq[2:4] = ["0", "4", "8", "9"]
seq

[7, 3, 4, 8, 1, 2]

[7, 3]

[3, 4, 8]

[8, 1, 2]

[1, 2]

[8]

[7, 4, 1]

[7, 8]

[2, 1, 8, 4, 3, 7]

[7, 3, '0', '4', '8', '9', 1, 2]

## Build-in Sequence Functions

### enumerate

In [ ]:
i = 0
for value in value_list:
    # do something with value
    i += 1
    
Enumerate function
for i, value in enumerate(value_list):
    # do something with value

In [1]:
value_list = ["Bob", "Tom", "Rick", "Dave"]
mapping = dict((i, v) for i, v in enumerate(value_list))
mapping

{0: 'Bob', 1: 'Tom', 2: 'Rick', 3: 'Dave'}

### sorted

In [4]:
sorted([9, 4, 2, 5, 3])
sorted('high school')
sorted(set('high school'))

[2, 3, 4, 5, 9]

[' ', 'c', 'g', 'h', 'h', 'h', 'i', 'l', 'o', 'o', 's']

[' ', 'c', 'g', 'h', 'i', 'l', 'o', 's']

### zip

In [13]:
seq1 = [1, 2, 3, 4]
seq2 = ["one", "two", "three", "four"]
seq3 = [False, True]
zip_1 = zip(seq1, seq2)
zip_2 = zip(seq1, seq2, seq3)
print(zip_1)
zip_2
list(zip_1)              # create a list of tuples
list(zip_2)
type(zip_2)

<zip object at 0x00000000051705C8>

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]

[(1, 'one', False), (2, 'two', True)]

zip

In [10]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print("{0}: {1}, {2}".format(i, a, b))

0: 1, one
1: 2, two
2: 3, three
3: 4, four

In [26]:
seq1 = [1, 2, 3, 4]
seq2 = ["one", "two", "three", "four"]
zip_1 = zip(seq1, seq2)
zip_1
a = list(zip_1)
x, y = zip(*a)
x
y
# x, y = zip(*list(zip_1))    not work

(1, 2, 3, 4)

('one', 'two', 'three', 'four')

### reversed

In [29]:
reversed([1, 2, 3])
list(reversed([1, 2, 3]))

[3, 2, 1]

## Dict

In [44]:
a = {}
b = {1: "one", 2: "two"}
a
b
b[2]
b[4] = "four"
b
1 in b
"one" in b      # only for key, not value
del b[1]
b
c = b.pop(4)    # remove key, then then value too. **use (), not []**
c
b

{}

{1: 'one', 2: 'two'}

'two'

{1: 'one', 2: 'two', 4: 'four'}

True

False

{2: 'two', 4: 'four'}

'four'

{2: 'two'}

In [52]:
c = {'a': "red", 'b': "blue"}
c.keys()
c.values()
list(c.keys())

dict_keys(['a', 'b'])

dict_values(['red', 'blue'])

['a', 'b']

In [53]:
b.update(c)                  # merge 2o dictionaries
b

{2: 'two', 'a': 'red', 'b': 'blue'}

### create dicts from sequences

In [57]:
seq1 = [1, 2, 3]
seq2 = ["red", "blue", "pink"]
my_dict = {}
for key, value in zip(seq1, seq2):
    my_dict[key] = value
    
my_dict

{1: 'red', 2: 'blue', 3: 'pink'}

In [61]:
my_dict = dict(zip([1, 2, 3], [4, 5, 6]))
my_dict

{1: 4, 2: 5, 3: 6}

In [63]:
list(zip([1, 2, 3], [4, 5, 6]))

[(1, 4), (2, 5), (3, 6)]

In [66]:
my_dict = dict([(1,"red"), (2,"blue")])   # tuples in a list
my_dict

{1: 'red', 2: 'blue'}

In [80]:
a = ['abacus', 'apple', 'bay', 'bus', 'box', 'car', 'fox']
b = {}
for i in a:
    letter = i[0]
    if letter not in b:
        b[letter] = [i]
    else:
        b[letter].append(i)
        
b

{'a': ['abacus', 'apple'],
 'b': ['bay', 'bus', 'box'],
 'c': ['car'],
 'f': ['fox']}

In [81]:
a = ['abacus', 'apple', 'bay', 'bus', 'box', 'car', 'fox']
b = {}
for i in a:
    letter = i[0]
    b.setdefault(letter, []).append(i)
        
b

{'a': ['abacus', 'apple'],
 'b': ['bay', 'bus', 'box'],
 'c': ['car'],
 'f': ['fox']}

In [82]:
# use list as key
d = {}
d[tuple([1, 2, 3])] = 'red'
d

{(1, 2, 3): 'red'}

## Set

In [83]:
set([1, 3, 3, 4, 2, 0])

{0, 1, 2, 3, 4}

In [84]:
{5, 3, 2, 3, 2, 3, 4}

{2, 3, 4, 5}

In [98]:
a = {1, 2, 3, 4, 5}
b = {2, 4, 6, 8}
a | b
a & b
a - b        # a but not b
a ^ b        # a but not b or b but not a , also called symmetric difference

c = a.copy()
c |= b       # c is replaced by new set after operation
c
c &= b
c

{1, 2, 3, 4, 5, 6, 8}

{2, 4}

{1, 3, 5}

{1, 3, 5, 6, 8}

{1, 2, 3, 4, 5, 6, 8}

{2, 4, 6, 8}

In [92]:
{1, 2, 3}.issubset(a)
a.issuperset({1, 2, 4})
{1, 2, 3} == {3, 2, 1}

True

True

True

## List, Set, and Dict Comprehensions

In [102]:
x = range(10)
a = list(i** 2 for i in x if i % 2 == 0)
a

[0, 4, 16, 36, 64]

In [104]:
strings = ["red", "blue", "yellow", "pink"]
length = {len(x) for x in strings}
length

{3, 4, 6}

In [105]:
key_list = ["Bob", "Tom", "Rick", "Dave"]
mapping = {key : value for value, key in enumerate(key_list)}
mapping

{'Bob': 0, 'Dave': 3, 'Rick': 2, 'Tom': 1}

In [109]:
name_list = [["Bob", "Tom"], ["Dave", "Kim"]]
m_name = [name for names in name_list for name in names if name.count("m") >= 1]
m_name

['Tom', 'Kim']

In [111]:
name_list = ["Bob", "Tom", "Dave", "Kim"]
m_name = [name for name in name_list if name.count("m") >= 1]
m_name

['Tom', 'Kim']

In [112]:
tup_list = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flatten = [x for tup in tup_list for x in tup if x % 2 == 0]
flatten

[2, 4, 6, 8]

In [113]:
flatten = []
for tup in tup_list:
    for x in tup:
        if x % 2 == 0:
            flatten.append(x)
            
flatten

[2, 4, 6, 8]

# Functions

### namespace, global and local scope

In [116]:
a = []
def func():
    for i in range(5):
        a.append(i)
        
func()
a

[0, 1, 2, 3, 4]

### multiple outputs

In [123]:
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c      # function return is a tuple actually
   # return {"x": a, "y":b, "z":c}

f()
a, b, c = f()
a
b
c

(5, 6, 7)

5

6

7

### function is an object

In [124]:
states = [' Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
'south carolina##', 'West virginia?']
states

[' Alabama ',
 'Georgia!',
 'Georgia',
 'georgia',
 'FlOrIda',
 'south carolina##',
 'West virginia?']

In [128]:
import re

states = [' Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
'south carolina##', 'West virginia?']

def remove_punction(value):
    return re.sub('[!#?]', '', value)

clean_ops = [str.strip, remove_punction, str.title]

def clean_string(strings, ops):
    result = []
    for value in strings:
        for func in clean_ops:
            value = func(value)
        result.append(value)
    return result

clean_string(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [131]:
list(map(remove_punction, states))     # aply function in MAP

[' Alabama ',
 'Georgia',
 'Georgia',
 'georgia',
 'FlOrIda',
 'south carolina',
 'West virginia']

### anonymous (lambda) functions

In [15]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 7]
apply_to_list(ints, lambda x: x*2)

[x*2 for x in ints]

y = map(lambda x: x*2, ints)
type(y)
list(y)

[8, 0, 2, 14]

[8, 0, 2, 14]

map

[8, 0, 2, 14]

In [7]:
strings = ["reed", "yellow", "orange", "blue"]
strings.sort(key=lambda x: len(set(list(x))))
strings

['reed', 'blue', 'yellow', 'orange']

In [9]:
list("reed")
set('reed')

['r', 'e', 'e', 'd']

{'d', 'e', 'r'}

### closure

In [13]:
def make_closure(a):
    def closure():
        print("the argument is {0}".format(a))
    return closure

closure = make_closure(5)      # return a function called closure. here variable closure = function closure
closure()                      # call function to get the value

the argument is 5

In [28]:
def watcher():
    have_seen = {}
    def has_been_seen(x):
        if x in have_seen:
            return True
        else:
            have_seen[x] = True         # assign value "True" to key "x". actually can assign any value to replace "True"
            print(have_seen)
            return False
        
    return has_been_seen

watch = watcher()                      # call watcher and return have_been_seen
watch
a = [1, 3, 4, 1, 3, 2, 4, 5]
[watch(x) for x in a]

{1: 1}
{1: 1, 3: 3}
{1: 1, 3: 3, 4: 4}
{1: 1, 3: 3, 4: 4, 2: 2}
{1: 1, 3: 3, 4: 4, 2: 2, 5: 5}

[False, False, False, True, True, False, True, False]

In [30]:
def format_and_pad(template, space):
    def formatter(x):
        return template.format(x).rjust(space)
    
    return formatter

fmt = format_and_pad('{0:.4f}', 15)
fmt(1.435)

'         1.4350'

### extended call syntax with *arg and **kwargs

In [35]:
def call_f(f, *args, **kwargs):
    print("args is", args)
    print("kwargs is", kwargs)
    print("function is %s" % f )
    print("func is {0}".format(f))
    return f(*args, **kwargs)

def g(x, y, z=2):
    return (x*y)/z

call_f(g, 3, 4, z= 6)

args is (3, 4)
kwargs is {'z': 6}
function is <function g at 0x0000000004EE92F0>
func is <function g at 0x0000000004EE92F0>

2.0

### Curring: partial argument function

In [39]:
def add_number(x, y, z):
    return x+y+z

def add_two_five(x, y=2, z=5):
    return add_number(x, y, z)

add_two_five(3)


from functools import partial
add_2_5 = partial(add_number, y= 2, z= 5)
add_2_5(1)

10

8

### generators

In [48]:
some_dict = {'a': 1, 'b': 2, 'c': 3}
for key in some_dict:
    print(key)
    
dict_iterator = iter(some_dict)
dict_iterator
#list(dict_iterator)
dict_iterator
for i in dict_iterator:
    print(i)

a
b
c

a
b
c

In [58]:
def seq(n= 10):
    print('Generating squares from 1 to %d' % n)
    for i in range(1, n + 1):
        yield i**2
    
gen = seq()
print(gen)

for x in gen:
    print(x, end= ' ')

<generator object seq at 0x0000000004F87728>
Generating squares from 1 to 10
1 4 9 16 25 36 49 64 81 100

In [ ]:
def make_change(amount, coins=[1, 5, 10, 25], hand=None):
hand = [] if hand is None else hand
if amount == 0:
yield hand
for coin in coins:
# ensures we don't give too much change, and combinations are unique
if coin > amount or (len(hand) > 0 and hand[-1] < coin):
continue
for result in make_change(amount - coin, coins=coins,
hand=hand + [coin]):
yield result

In [60]:
def make_change(amount, coins=[1, 5, 10, 25], hand = None):
    hand = [] if hand is None else hand
    if amount == 0:
        yield hand
    for coin in coins:
        if coin > amount or (len(hand) > 0 and hand[-1] < coin):
            continue
        for result in make_change(amount -coin, coins = coins, hand = hand + [coin]):
            yield result
            
for way in make_change(100, coins=[10, 25, 50]):
    print(way)

[10, 10, 10, 10, 10, 10, 10, 10, 10, 10]
[25, 25, 10, 10, 10, 10, 10]
[25, 25, 25, 25]
[50, 10, 10, 10, 10, 10]
[50, 25, 25]
[50, 50]

#### generator experssions

In [65]:
gen = (x** 2 for x in range(1, 11))
sum(gen)
list(gen)         # use once and cannot call it again

385

[]

In [66]:
dict((i, i**2) for i in range(1, 6))

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

#### itertools module

In [ ]:
import itertools
combinations(iterable, k)
permutations(iterable, k)
groupby(iterable[,keyfunc])
product(*iterables, repeat=1)

## Files and the operating system

In [ ]:
path = 'user\\degang\\files\\examp.txt'
f = open(path)

for line in f:
    pass

lines = [x.rstrip() for x in open(path)]

f.close()

In [ ]:
Mode Description
r Read-only mode
w
Write-only mode. Creates a new file (erasing the data for any file with
the same name)
x
Write-only mode. Creates a new file, but fails if the file path already
exists.
a Append to existing file (create it if it does not exist)
r+ Read and write
b Add to mode for binary files, that is 'rb' or 'wb'
t
Text mode for files (automatically decoding bytes to unicode). This is
the default if not specified. Add t to other modes to use this, that is
'rt' or 'xt'

In [ ]:
with open(path, 'r') as file:
    print(file.read())

In [ ]:
with open('/Users/degang/test.txt', 'w') as f:
    f.write('Hello, world!')

In [ ]:
f = open('/Users/degang/test.jpg', 'rb') # use "rb" for binary file
f.read()